.input-group {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__label { 
    }

    &__field {
        max-width: 20%;
        border: 2px solid $color-gray-light;
        border-radius: 3px;
        padding: .6em 1em;
        text-align: center;
    }

    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -moz-appearance: none;
        -webkit-appearance: none;
        margin: 0;
    }
}