.menu {
    padding: 0;
    margin: 0;
    width: 100%;
    margin-top: 70px;
    z-index: map-get($z-index, header);

    li.menu__item {
        list-style: none;
        text-align: center;
        opacity: 0;

        @for $i from 1 through 4 {
            &:nth-child(#{$i}) {
                transition: opacity 0.5s ease $i*0.2s;
            }
        }

        &.fade {
            opacity: 1;
        }

        >a {
            display: block;
            padding: 2em 0;
            text-decoration: none;
            color: white;
        }
    }
}