.timer {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    

    &::before {
        content: "";
        display: block;
        padding-top: 100%;
    }

    &__progress-bar {
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        &__current {
            position: absolute;
            width: 100%;
            height: 100%;
            border: 0.5em solid $color-primary;
            border-radius: 50%;
            animation: progress linear 3s infinite;
            // animation: progress linear 1s infinite paused;
        }

        &__bg {
            position: absolute;
            width: 100%;
            height: 100%;
            border: 0.5em solid $color-gray-light;
            border-radius: 50%;
        }
    }

    &__display {
        font-size: $font-size-XL;
    }
}