//Colors 
$color-cyan: #23BDDC;
$color-cyan-dark:#1991AA ;
$color-orange: #FF952C;
$color-orange-dark: #EC7600;

$color-gray: #B7B7B7;
$color-gray-dark: #5B5B5B;
$color-gray-light: #EFEFEF;

$color-primary: $color-cyan;
$color-primary-alt: $color-cyan-dark;
$color-secondary: $color-orange;
$color-secondary-alt: $color-orange-dark;


//Fonts Families
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap');

$font-family-base: Montserrat, Arial, sans-serif;
// $font-family-base: Arial, sans-serif;

//Font size
$font-size-M: 1.2rem;
$font-size-L: 3rem;
$font-size-XL: 4rem; //timer

//Spacing
$section-margin: 2em;

//z-index levels
$z-index:(
    header-items: 1000,
    header: 800,
    modal:600,
    timer-sequence-controls: 500,
    body: 400,
);


//Screen sizes
$screen-md: 768px;
$screen-lg: 1024px;

