//Colors
$color-primary: #1991AA;
$color-primary-light: #23BDDC;
$color-secondary: #EC7600;
$color-secondary-light: #FF952C;

$color-gray: #B7B7B7;
$color-gray-dark: #5B5B5B;
$color-gray-light: #EFEFEF;

//Fonts Families
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700&display=swap');

$font-family-base: Montserrat, Arial, sans-serif;

//Font size
$font-size-L: 3rem;
$font-size-XL: 4rem;

//z-index levels
$z-index:(
    header-items: 1000,
    header: 800,
    modal:600,
    body: 400,
);


